<p id="notice"><%= notice %></p>

<h1>Задачи</h1>
<br>

<% @projects.each do |project| %>
<p><%= project.title %></p>
<ul>
  <% project.todos.each do |todo| %>
  <li><%= todo.text %></li>
  <% end %>
</ul>
<% end %>

<br>

<div id="form_add_todo">
  <%= form_with id: "new_todo", scope: :todo, local: true do |form| %>
    <p>
      <%= form.label :text %><br>
      <%= form.text_field :text %>
    </p>
  
  <p>
    <select name="todo[project_id]">
      <% @projects.each do |project| %>
        <option value=<%= project.id %>><%= project.title %></option>
      <% end %>
    </select>
    </p>
    <%= link_to "ОТМЕНА", projects_path, id: "button_cancel" %>
    <%= link_to "OK", projects_path, id: "button_new_todo" %>
   

  <% end %>
</div>
<%= image_tag("plus.png", :alt => "+", :id => "img_plus") %>

